body {
  padding: 0;
  margin: 0;
  background: #f3f4f6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.container {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  background: #FFFBBE;
  border-radius: 16px;
  border: solid #FFDB00;
  width: 300px;
  height: 400px;
}

.card-info {
  font-size: 17px;
  text-align: center;
  padding: 10px;
}

.character-image {
  border: 3px solid #FFDB00;
  background-color: #F6F6F6;
  height:195px;
  width: 80%;
}

.character {
  text-align: center;
}

.card-title, .card-HP {
  font-size: 20px;
  padding:10px;
  font-weight: bold;
}

.card-HP {
  color: red;
}

.card-header {
  display: flex;
}

.otherInfo {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
}

.power1 {
  border-bottom: 2px solid black;
  padding: 8px;
}

.power2 {
  border-bottom: 2px solid black;
  padding: 8px;
}